#grille1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: grey;
    width: 80%;
    margin: 0 auto;
    gap: 10px;
}
/*mise en forme des éléments affichés dans la grille*/
.affichageBoite{
    padding: 10px;
    border: 2px solid black;
}
/*placement et mise en forme des éléments dans la grille*/
#entete {
    background-color: green;
    grid-area: 1 / 1 / 2 / 3;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
#navigat {
    background-color: yellow;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}
#section {
    background-color: blue;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;  
}
#detail {
    background-color: pink;
}
#bas {
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;  
}
/*début style deuxième boite*/
#grille2{
    display: grid;
    grid-template-columns: repeat(5, auto);
    background-color: gray;
    width: 80%;
    margin: 0 auto;
    gap: 10px;
}

#grille2 > div{
    background-color: cadetblue;
}
#a{
    grid-row: 1 / span 3;
    grid-column: span 2;
}
#b{
    grid-row: 1 / span 2;
}
#c{
    grid-column: 4 / span 2;
}